
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    font-family: Verdana, sans-serif;
}


h1 {
    font-size: 32px;
}


p {
    color: green;
}